[user]
	name = keita03301995
	email = keita03301995@gmail.com
[keita03301995]
	email = keita03301995@gmail.com
[push]
	default = matching
[alias]
	co = checkout
	cm = commit
  st = status
  graph = log --graph --date-order -C -M --pretty=format:\"<%h> %ad [%an] %Cgreen%d%Creset %s\" --all --date=short
[core]
  editor = /usr/local/bin/vim
